

<div class="ss-form-container">
  <div class="ss-top-of-page">
    <div class="ss-form-heading">
      <h2 class="ss-form-title" dir="ltr">
          Get In Touch
      </h2>
    </div>
  </div>

  <div class="ss-form">
    <form action="https://docs.google.com/forms/d/1iAhqSsKWXBNaKqHB4m-rHCiNAzc2EMO6svZ-lrkO164/formResponse?embedded=true" method="POST" id="ss-form" target="_self" onsubmit="">

        <div class="ss-form-question errorbox-good" role="listitem">
          <div dir="ltr" class="ss-item ss-item-required ss-select">
            <div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_866239309">
                <div class="ss-q-title">
                  Type of Inquiry
                  <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                </div>
              </label>
              <select  name="entry.866239309" id="entry_866239309" class="custom-select" aria-label="Type of Inquiry (Why are you contacting us?) " aria-required="true" required="">
                <option value="" disabled selected>Why are you contacting us?</option>
                <option value="Media Submission">Media Submission</option>
                <option value="Artist Booking">Artist Booking</option>
                <option value="General Inquiry">General Inquiry</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </div>

        <div class="ss-form-question errorbox-good" role="listitem">
          <div dir="ltr" class="ss-item ss-item-required ss-text">
            <div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_1923754196">
                <div class="ss-q-title">
                  Name
                  <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                </div>
              </label>
              <input  type="text" 
                      placeholder="Name/Artist Name"
                      name="entry.1923754196" value="" 
                      class="ss-q-short" 
                      id="entry_1923754196" 
                      dir="auto" 
                      aria-label="Name (Name/Artist Name)" 
                      aria-required="true" 
                      required="" title="">
              <div class="error-message" id="214375905_errorMessage">
              </div>
            </div>
          </div>
        </div>

        <div class="ss-form-question errorbox-good" role="listitem">
          <div dir="ltr" class="ss-item ss-item-required ss-text">
            <div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_634441336">
                <div class="ss-q-title">Email Address
                  <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)">
                  </label>
                </div>
              </label>
              <input type="text"
              placeholder="Where can we contact you?"
               name="entry.634441336" value="" class="ss-q-short" id="entry_634441336" dir="auto" aria-label="Email Address (Where can we contact you?) " aria-required="true" required="" title="">
                <div class="error-message" id="591059348_errorMessage"></div>
              </div>
            </div>
          </div>

          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_98115474">
                  <div class="ss-q-title">
                    Your Message
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                    <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                  </div>
                </label>
                <textarea name="entry.98115474" 
                          placeholder="Include link to media with a brief description if submitting"
                          id="entry_98115474" 
                          dir="auto" 
                          aria-label="Your Message (Include link to media with a brief description if submitting) " 
                          aria-required="true" required=""></textarea>
                <div class="error-message" id="1098395691_errorMessage"></div>
              </div>
            </div>
          </div>

          <input type="hidden" name="draftResponse" value="[,,&quot;7809662174956281120&quot;]">
          <input type="hidden" name="pageHistory" value="0">
          <input type="hidden" name="fbzx" value="7809662174956281120">

          <div class="ss-item ss-navigate">
            <table id="navigation-table">
              <tbody>
                <tr>
                  <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                    <input type="submit" name="submit" value="SUBMIT" id="ss-submit" class="jfk-button jfk-button-action ">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

    </form>
  </div>
</div>
<!-- <script type="text/javascript" src="/static/forms/client/js/2301700218-formviewer_prd__pt_br.js"></script> -->

