<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  	{% include header.html %}
	
	<!-- SECTION 1 -->
	<div class="section container-fluid" id="section1">

		<div id="top-logo">
				<img src="{{ "/assets/lmno-logo.png" | prepend: site.baseurl }}" alt="">
			<!-- <a href="#" id="homeLogo">LMNO LOGO
			</a> -->
		</div>
			
		<div id="top-desc" class="contact-icons">
			<h1>
				CREATE, <br>
				INSPIRE, <br>
				MOTIVATE.
			</h1>

			<div class="cl-effect-1">
				<ul>
					<li><a target="_blank" href="http://twitter.com/ElemenoOfficial"><img class="shadow" src="/assets/icons/twitter-icon.svg" alt="twitter icon"></a></li>
					<li><a target="_blank" href="http://facebook.com/ElemenoOfficial"><img class="shadow" src="/assets/icons/face-icon.svg" alt="facebook icon"></a></li>
					<li><a target="_blank" href="http://soundcloud.com/ElemenoCollective"><img class="shadow" src="/assets/icons/cloud-icon.svg" alt="soundcloud icon"></a></li>
					<li><a target="_blank" href="https://www.youtube.com/channel/UCubsB5sJevfKXenM7QWA55g"><img class="shadow" src="/assets/icons/youtube-icon.svg" alt="youtube icon"></a></li>
				</ul>
			</div>
		</div>
	</div>


	<div id="section2" class="section">

		<p>
			Elemeno Collective was started Feb 26th 2015 in Toronto by a crew of like-minded individuals looking to establish a creative movement in order to assist underground artists pursue and showcase their work.
			<br>
			<span> ★ ★ ★ ★ ★ </span> 
		</p>

	</div>

	<div id="section3" class="section">

		<div class="white">
			<h2>
				We are always looking for new recruits and partnerships
				<br>
				<span> ★ ★ ★ ★ ★ </span> 
			</h2>

			<p>
				Send us a message and some of your work in the <a href="/#contact">Submit Section</a>. Let us know what you would bring to the table to benefit our team!
			</p>
		</div>		
		<a name="contact"></a>
		<div class="dark">

			{% include g_form.html %}

		</div>

	</div>

	{% include footer.html %}

  </body>

</html>
